@model List<Project>
@{
    ViewBag.Title = "Project Manager";
}
<h1>@ViewBag.Title</h1>
    <div class="col-sm-10">
            </br>
            <p1></p1>
            <a asp-action="Add" class="btn btn-primary bg-transparent text-primary">Add New Project</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Time Span</th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.ProjectName</td>
                        <td>@p.ProjectTimespan</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Update" asp-route-id="@p.ProjectID">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@p.ProjectID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
